<div class="w-full">
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Our Offered Services</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Who are in extremely love with eco friendly system.</p>
      </div>
      <div class="py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div class="mb-6 flex items-end justify-between gap-4">
          </div>
      
          <div class="grid gap-x-4 gap-y-6 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
            <!-- product - start -->
            <div class="card">
                <img src="assets/images/manned-guarading-img.png" loading="lazy" class="card-img object-cover object-center transition duration-200 group-hover:scale-110" />
                <div class="card-body">
                  <h1 class="card-title">Manned guarding</h1>
                  <p class="card-infor">The service portfolio of this division includes
                      guarding, fire squad, dog squad, bodyguards etc. for industries,
                      banks, retail outlets, residential colonies, hotels and institutions</p>
                  <button class="card-btn">Read more</button>
              </div>
            </div>
            <!-- product - end -->
      
            <!-- product - start -->
            <div class="card">
              <img src="assets/images/cash-service-img.jpg" loading="lazy" class="card-img object-cover object-center transition duration-200 group-hover:scale-110" />
              <div class="card-body">
                <h1 class="card-title">Cash service</h1>
                <p class="card-infor">The service range of the Cash Services division
                  includes secured transfer of cash and valuables, ATM
                  replenishment, Vaulting and Processing Services, multi-point
                  cash collection and Caretaker Services</p>
                <button class="card-btn">Read more</button>
            </div>
          </div>
            <!-- product - end -->
      
            <!-- product - start -->
            <div class="card">
              <img src="assets/images/Recruitment-and-training-img.jpg" loading="lazy" class="card-img object-cover object-center transition duration-200 group-hover:scale-110" />
              <div class="card-body">
                <h1 class="card-title">Recruitment and training</h1>
                <p class="card-infor">This division works in close alignment
                  with multiple division of Star with an objective of recruiting
                  training and delivering suitable manpower to meet their
                  requirements.</p>
                <button class="card-btn">Read more</button>
            </div>
          </div>
            <!-- product - end -->
      
            <!-- product - start -->
            <div class="card">
              <img src="assets/images/Electronic-security-systems-img.jpg" loading="lazy" class="card-img object-cover object-center transition duration-200 group-hover:scale-110" />
              <div class="card-body">
                <h1 class="card-title">Electronic security systems</h1>
                <p class="card-infor">This division closely collaborates with SIS's 
                  strategic partners, such as reputable system integrators, 
                  to design, install, and maintain security systems such as access control,
                   CCTV, fire alarms, and the goal is to market these products to existing customers.</p>
                <button class="card-btn">Read more</button>
            </div>
          </div>
            <!-- product - end -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>