<div class="max-w dark:bg-gray-900 mx-auto">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <ul class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <li class="py-3 px-6 border-b dark:border-gray-700">
                <div class="font-medium text-gray-900 dark:text-white">Apple MacBook Pro 17"</div>
                <div class="mt-1">Color: Silver</div>
                <div class="mt-1">Category: Laptop</div>
                <div class="mt-1">Price: $2999</div>
                <div class="mt-1">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Apply</a>
                </div>
            </li>
            <li class="py-3 px-6 border-b dark:border-gray-700">
                <div class="font-medium text-gray-900 dark:text-white">Microsoft Surface Pro</div>
                <div class="mt-1">Color: White</div>
                <div class="mt-1">Category: Laptop PC</div>
                <div class="mt-1">Price: $1999</div>
                <div class="mt-1">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Apply</a>
                </div>
            </li>
            <li class="py-3 px-6 border-b dark:border-gray-700">
                <div class="font-medium text-gray-900 dark:text-white">Microsoft Surface Pro</div>
                <div class="mt-1">Color: White</div>
                <div class="mt-1">Category: Laptop PC</div>
                <div class="mt-1">Price: $1999</div>
                <div class="mt-1">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Apply</a>
                </div>
            </li>
            <li class="py-3 px-6 border-b dark:border-gray-700">
                <div class="font-medium text-gray-900 dark:text-white">Microsoft Surface Pro</div>
                <div class="mt-1">Color: White</div>
                <div class="mt-1">Category: Laptop PC</div>
                <div class="mt-1">Price: $1999</div>
                <div class="mt-1">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Apply</a>
                </div>
            </li>
            <li class="py-3 px-6 border-b dark:border-gray-700">
                <div class="font-medium text-gray-900 dark:text-white">Microsoft Surface Pro</div>
                <div class="mt-1">Color: White</div>
                <div class="mt-1">Category: Laptop PC</div>
                <div class="mt-1">Price: $1999</div>
                <div class="mt-1">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Apply</a>
                </div>
            </li>
        </ul>
    </div>
</div>

