<div class="w-full">
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-col">
        <div class="lg:w-4/6 mx-auto">
            
            <div class="flex flex-col sm:flex-row mt-10">
            <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-800 text-gray-600">
                <img class="w-50 h-50 rounded-full" src="assets/images/chairman-avatar-1.webp" alt="chairman-avatar">
                </div>
                
                <div class="flex flex-col items-center text-center justify-center">
                <h2 class="font-medium title-font mt-4 text-white text-lg">Phoebe Caulfield</h2>
                <span>The chairman</span>
                <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                <p class="text-base text-gray-400">As a senior leader of the Board of Directors, responsible for chairing meetings, ensuring the company complies with regulations and standards, and driving strategic decision-making.</p>
                </div>
            </div>
            <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <h3 class="text-white text-2xl italic font-serif">History of Company</h3>
                <p class="leading-relaxed text-lg mb-4">We are a professional agency providing customized security arrangements to the industrial, commercial, and business houses
                  Star securities has been one of the pioneers in the Private Security Industry. Set up in 2000, the company has been a thought and knowledge leader since its inception. Through the decade of its existence, Star has endeavored to provide the best security solutions to its customers through innovation, commitment to quality, training and strict compliance to international standards.
                  Setup as Investigation firm almost 10 years ago, today the company has grown into a "Total Security Solutions Provider" offering manned guarding (MG), investigations (C&I), electronic security systems (ESS) and cash services (CS) to over 250 corporate customers across 24 states. 
                  Star is an ISO 9001:2000 certified public limited company. Backed by a trained workforce of over 2800 men & supervisors and 100 banded managers, Star delivers premium services with high quality and absolute integrity. 
                  Star believes in continuously upgrading the quality of our resources and infrastructure to support the ever-changing customer requirements. In pursuance to this, Star wants the security business to implement a state-of-the-art ERP Solution to manage the day-to-day operations of the company. 
                  </p>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-white mb-4">Board Of Directors</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-400 text-opacity-80">Meet the creators who contribute to the growing company</p>
            <div class="flex mt-6 justify-center">
              <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
            </div>
          </div>
          <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
              <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5 flex-shrink-0">
                <img class="w-50 h-50 rounded-full" src="assets/images/chairman-avatar-1.webp" alt="chairman-avatar">
              </div>
              <div class="flex-grow">
                <h2 class="text-white text-lg title-font font-medium mb-3">Chairperson</h2>
                <p class="leading-relaxed text-base">Usually one of the founders or leaders who have a major influence on the company. Responsible for leading board governance and shaping the company's long-term strategy.</p>
              </div>
            </div>
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
              <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5 flex-shrink-0">
                <img class="w-50 h-50 rounded-full" src="assets/images/chairman-avatar-1.webp" alt="chairman-avatar">
              </div>
              <div class="flex-grow">
                <h2 class="text-white text-lg title-font font-medium mb-3">CEO</h2>
                <p class="leading-relaxed text-base">Be the leader in operating and managing the company's daily activities, implementing the strategy decided by the Board of Directors.</p>
              </div>
            </div>
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
              <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5 flex-shrink-0">
                <img class="w-50 h-50 rounded-full" src="assets/images/chairman-avatar-1.webp" alt="chairman-avatar">
              </div>
              <div class="flex-grow">
                <h2 class="text-white text-lg title-font font-medium mb-3">Executive Director</h2>
                <p class="leading-relaxed text-base">The person has extensive knowledge of the industry and plays an important role in promoting the development and management of the company's business activities.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>

